<!DOCTYPE html>
<html>
<head>
  <title>Personligt register</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body style="background-color: #0056b3;">
  <h1>Opret Person</h1>
  <form action="/add-person" method="post">
    <label class="name" for="name">Navn:</label>
    <input type="text" id="name" name="name" autocomplete="given-name" required><br><br>

    <label class="age" for="birthdate">Dato:</label>
    <input type="date" id="birthdate" name="birthdate" autocomplete="bday" required><br><br>

    <label class="description" for="description">Description:</label>
    <textarea id="description" name="description" autocomplete="description" rows="4" required></textarea><br><br>

    <input class="submit" type="submit" value="Add Person">
  </form>

  <h1>Search for People</h1>
  <form action="/search" method="post">
    <label for="searchTerm">Search Term:</label>
    <input type="text" id="searchTerm" name="searchTerm">
    <button type="submit">Search</button>
  </form>

  <ul>
    <!-- Example list item, replace with actual data -->
    <li>
      <a href="/person/1">John Doe</a>
    </li>
  </ul>
</body>
</html>
